.preview-container {
  width: 2rem;
  height: 2rem;
  box-sizing: border-box;
  border: solid 1px rgba(255, 255, 255, .5);
  transition: all .2s ease;
}

.preview-container:hover {
  width: 15rem;
  height: 15rem;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 9;
  border: solid 1px #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, .5);
}

.preview {
  width: 100%;
  height: 100%;
  margin: 0;
}
