.panel-hsv {
  padding-top: 1.5rem;
}

.sync-container {
  width: 100%;
  position: absolute;
  left: 0;
  top: -1rem;
  text-align: center;
}

.sync {
  fill: #aaa;
  background: #fff;
  padding: .5rem 2rem;
  margin: 0;
  cursor: pointer;
}

.sync-active {
  fill: #2294ff;
}
