.header {
  background: #2294ff;

  .panel-blank {
    display: flex;
    padding: 1rem;
  }
}

.logo {
  height: 2rem;
}

.logo-notext {
  display: none;
  height: 2rem;
}

.header-preview {
  height: 2rem;
  position: relative;
  margin: 0 0 0 auto;
}

@media(max-width: 1050px) {
  .logo {
    display: none;
  }

  .logo-notext {
    display: inline-block;
  }
}
