.header {
  background: #2294ff;
  padding: 1rem 0;
  margin: 0 0 1rem 0;

  .panel-blank {
    display: flex;
  }
}

.logo {
  height: 2rem;
}

.logo-notext {
  display: none;
  height: 2rem;
}

.header-preview {
  margin: 0 0 0 auto;
}

@media(max-width: 1050px) {
  .header {
    padding: .5rem 1rem;
    margin: 0;
    text-align: center;
  }

  .logo {
    display: none;
  }

  .logo-notext {
    display: inline-block;
  }
}
