<h1>aurora</h1>

<h2>Interval</h2>
<input type="range" min="5" max="500" id="interval" value="{{leds.interval}}">

<section id="pattern">
    <h2>Pattern</h2>

    <label>Red <textarea rv-background="pattern.color">{ pattern.red }</textarea></label>
    <label>Green <textarea>{ pattern.green }</textarea></label>
    <label>Blue <textarea>{ pattern.blue }</textarea></label>
</pattern>

<!--
<div class="picker-container hue-container" id="hue-container">
    <input type="range" min="0" max="360" value="0" class="picker hue" id="hue">
</div>
-->

<!--
<div class="picker-container saturation-container" id="saturation-container">
    <input type="range" min="0" max="100" value="100" class="picker saturation" id="saturation">
</div>
-->

<!--
<div class="picker-container value-container" id="value-container">
    <input type="range" min="0" max="100" value="100" class="picker value" id="value">
</div>
-->

<input type="text" id="hue">
<input type="text" id="saturation">
<input type="text" id="value">

<div class="sample" rv-style="label.color"></div>
