/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */ }

/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block; }

/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none; }

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/* Forms
   ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold; }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

@font-face {
  src: url("/fonts/roboto/Roboto-Regular.woff") format("woff"), url("/fonts/roboto/Roboto-Regular.ttf") format("truetype");
  font-family: Roboto; }

@font-face {
  src: url("/fonts/roboto/Roboto-Bold.woff") format("woff"), url("/fonts/roboto/Roboto-Bold.ttf") format("truetype");
  font-family: Roboto;
  font-weight: bold; }

@font-face {
  src: url("/fonts/roboto/Roboto-Italic.woff") format("woff"), url("/fonts/roboto/Roboto-Italic.ttf") format("truetype");
  font-family: Roboto;
  font-style: italic; }

@font-face {
  src: url("/fonts/roboto/Roboto-BoldItalic.woff") format("woff"), url("/fonts/roboto/Roboto-BoldItalic.ttf") format("truetype");
  font-family: Roboto;
  font-weight: bold;
  font-style: italic; }

body {
  color: #333;
  margin: 0;
  font-family: Roboto; }

h1 {
  margin: 0; }

input {
  outline: none; }

.icon {
  fill: #333;
  width: 16px;
  width: 1rem;
  height: 16px;
  height: 1rem; }

.input-text {
  color: inherit;
  border: solid 1px #ddd; }

.input-text:focus {
  border: solid 1px #5af; }

.panel {
  background: #fff;
  width: 1000px;
  position: relative;
  box-sizing: border-box;
  padding: 16px;
  padding: 1rem;
  border: solid 1px #ddd;
  margin: -1px auto 0; }

.panel-blank {
  width: 1000px;
  margin: 0 auto 0; }

@media (max-width: 1050px) {
  .panel {
    width: 100%;
    margin: -1px 0 0; }
  .panel-blank {
    width: 100%; } }

.picker-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.picker-container:not(:last-child) {
  margin: 0 0 16px;
  margin: 0 0 1rem; }

.color-label {
  color: #aaa;
  width: 32px;
  width: 2rem;
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12.8px;
  font-size: .8rem;
  font-weight: bold; }

.value-container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.color-value {
  width: 100%;
  padding: 8px;
  padding: .5rem;
  box-sizing: border-box; }

.color-container {
  width: 100%;
  height: 16px;
  height: 1rem;
  box-sizing: border-box;
  border: solid 1px #ddd;
  border-top: none; }

.picker {
  -webkit-appearance: none;
  background: none;
  width: calc(100% + .4rem);
  height: 16px;
  height: 1rem;
  margin: 0 0 0 -3.2px;
  margin: 0 0 0 -.2rem;
  cursor: crosshair; }

.picker:focus {
  outline: none; }

.picker:focus {
  outline: none; }

.picker::-webkit-slider-thumb {
  height: 0;
  width: 0;
  border-bottom: solid 6.4px #333;
  border-bottom: solid .4rem #333;
  border-left: solid 4.8px transparent;
  border-left: solid .3rem transparent;
  border-right: solid 4.8px transparent;
  border-right: solid .3rem transparent;
  margin: 16px 0 0;
  margin: 1rem 0 0;
  -webkit-appearance: none; }

.picker::-moz-range-track {
  background: none; }

.picker::-moz-range-thumb {
  background: none;
  height: 0;
  width: 0;
  border-radius: 0;
  border-bottom: solid 6.4px #333;
  border-bottom: solid .4rem #333;
  border-left: solid 4.8px transparent;
  border-left: solid .3rem transparent;
  border-right: solid 4.8px transparent;
  border-right: solid .3rem transparent;
  margin: 48px 0 0;
  margin: 3rem 0 0; }

.picker::-ms-track {
  width: 100%;
  height: 16px;
  height: 1rem;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent; }

.picker::-ms-fill-lower {
  border-radius: 0px; }

.picker::-ms-fill-upper {
  border-radius: 0px; }

.picker::-ms-thumb {
  background: #fff;
  width: 3px;
  height: 16px;
  height: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 0px; }

.header {
  background: #2294ff;
  padding: 16px 0;
  padding: 1rem 0;
  margin: 0 0 16px 0;
  margin: 0 0 1rem 0; }
  .header .panel-blank {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

.logo {
  height: 32px;
  height: 2rem; }

.logo-notext {
  display: none;
  height: 32px;
  height: 2rem; }

.header-preview {
  margin: 0 0 0 auto; }

@media (max-width: 1050px) {
  .header {
    padding: .5rem 1rem;
    margin: 0;
    text-align: center; }
  .logo {
    display: none; }
  .logo-notext {
    display: inline-block; } }

.phantom {
  display: none; }

.preview-container {
  width: 32px;
  width: 2rem;
  height: 32px;
  height: 2rem;
  border: solid 1px rgba(255, 255, 255, 0.15); }

.preview {
  width: 100%;
  height: 100%;
  margin: 0; }

.sample {
  height: 24px;
  height: 1.5rem;
  padding: 0;
  border: solid 1px #ddd;
  border-top: none; }

.sample::-webkit-color-swatch-wrapper {
  padding: 0;
  border: none; }

.sample::-webkit-color-swatch {
  border: none; }

.sample::-moz-color-swatch {
  border: none; }

.panel-rgb {
  padding-bottom: 24px;
  padding-bottom: 1.5rem; }

.panel-hsv {
  padding-top: 24px;
  padding-top: 1.5rem; }

.sync-container {
  width: 100%;
  position: absolute;
  left: 0;
  top: -16px;
  top: -1rem;
  text-align: center; }

.sync {
  fill: #aaa;
  background: #fff;
  padding: 8px 32px;
  padding: .5rem 2rem;
  margin: 0;
  cursor: pointer; }

.sync-active {
  fill: #2294ff; }

.phantom {
  display: none; }

.draw {
  background: #000;
  cursor: crosshair; }

/*# sourceMappingURL=style.css.map*/