@font-face {
  src: url('../fonts/roboto/Roboto-Regular.woff') format('woff'), url('../fonts/roboto/Roboto-Regular.ttf') format('truetype');
  font-family: Roboto;
}

@font-face {
  src: url('../fonts/roboto/Roboto-Bold.woff') format('woff'), url('../fonts/roboto/Roboto-Bold.ttf') format('truetype');
  font-family: Roboto;
  font-weight: bold;
}

@font-face {
  src: url('../fonts/roboto/Roboto-Italic.woff') format('woff'), url('../fonts/roboto/Roboto-Italic.ttf') format('truetype');
  font-family: Roboto;
  font-style: italic;
}

@font-face {
  src: url('../fonts/roboto/Roboto-BoldItalic.woff') format('woff'), url('../fonts/roboto/Roboto-BoldItalic.ttf') format('truetype');
  font-family: Roboto;
  font-weight: bold;
  font-style: italic;
}

body {
  color: #333;
  margin: 1rem 0 0;
  font-family: Roboto;
}

h1 {
  margin: 0;
}

::-moz-focus-inner,
::-moz-focus-outer {
  border: 0;
}

input {
  outline: none;
}

.input-text {
  border: solid 1px #ddd;
}

.input-text:focus {
  border: solid 1px #5af;
}

.panel {
  background: #fff;
  width: 1000px;
  box-sizing: border-box;
  padding: 1rem;
  border: solid 1px #ddd;
  margin: -1px auto 0;
}

@media(max-width: 1000px) {
  body {
    margin: 0;
  }

  .panel {
    width: 100%;
    margin: -1px 0 0;
  }
}
