@font-face {
  src: url('/fonts/roboto/Roboto-Regular.woff') format('woff'), url('/fonts/roboto/Roboto-Regular.ttf') format('truetype');
  font-family: Roboto;
}

@font-face {
  src: url('/fonts/roboto/Roboto-Bold.woff') format('woff'), url('/fonts/roboto/Roboto-Bold.ttf') format('truetype');
  font-family: Roboto;
  font-weight: bold;
}

@font-face {
  src: url('/fonts/roboto/Roboto-Italic.woff') format('woff'), url('/fonts/roboto/Roboto-Italic.ttf') format('truetype');
  font-family: Roboto;
  font-style: italic;
}

@font-face {
  src: url('/fonts/roboto/Roboto-BoldItalic.woff') format('woff'), url('/fonts/roboto/Roboto-BoldItalic.ttf') format('truetype');
  font-family: Roboto;
  font-weight: bold;
  font-style: italic;
}
