@import '~normalize.css';

@font-face {
  src: url('/fonts/roboto/Roboto-Regular.woff') format('woff'), url('/fonts/roboto/Roboto-Regular.ttf') format('truetype');
  font-family: Roboto;
}

@font-face {
  src: url('/fonts/roboto/Roboto-Bold.woff') format('woff'), url('/fonts/roboto/Roboto-Bold.ttf') format('truetype');
  font-family: Roboto;
  font-weight: bold;
}

@font-face {
  src: url('/fonts/roboto/Roboto-Italic.woff') format('woff'), url('/fonts/roboto/Roboto-Italic.ttf') format('truetype');
  font-family: Roboto;
  font-style: italic;
}

@font-face {
  src: url('/fonts/roboto/Roboto-BoldItalic.woff') format('woff'), url('/fonts/roboto/Roboto-BoldItalic.ttf') format('truetype');
  font-family: Roboto;
  font-weight: bold;
  font-style: italic;
}

body {
  color: #333;
  margin: 0;
  font-family: Roboto;
}

h1 {
  margin: 0;
}

input {
  outline: none;
}

.icon {
  fill: #333;
  width: 1rem;
  height: 1rem;
}

.input-text {
  color: inherit;
  border: solid 1px #ddd;
}

.input-text:focus {
  border: solid 1px #5af;
}

.panel {
  background: #fff;
  width: 1000px;
  position: relative;
  box-sizing: border-box;
  padding: 1rem;
  border: solid 1px #ddd;
  margin: -1px auto 0;
}

.panel-blank {
  width: 1000px;
  margin: 0 auto 0;
}

@media(max-width: 1050px) {
  .panel {
    width: 100%;
    margin: -1px 0 0;
  }

  .panel-blank {
    width: 100%;
  }
}

.picker-container {
  display: flex;
}

.picker-container:not(:last-child) {
  margin: 0 0 1rem;
}

.color-label {
  color: #aaa;
  width: 2rem;
  display: inline-block;
  display: flex;
  align-items: center;
  font-size: .8rem;
  font-weight: bold;
}

.value-container {
  flex-grow: 1;
}

.color-value {
  width: 100%;
  padding: .5rem;
  box-sizing: border-box;
}

.color-container {
  width: 100%;
  height: 1rem;
  box-sizing: border-box;
  border: solid 1px #ddd;
  border-top: none;
}

.picker {
  -webkit-appearance: none;
  background: none;
  width: calc(100% + .4rem);
  height: 1rem;
  margin: 0 0 0 -.2rem;
  cursor: crosshair;
}

.picker:focus {
  outline: none;
}

.picker:focus {
  outline: none;
}

.picker::-webkit-slider-thumb {
  height: 0;
  width: 0;
  border-bottom: solid .4rem #333;
  border-left: solid .3rem transparent;
  border-right: solid .3rem transparent;
  margin: 1rem 0 0;
  -webkit-appearance: none;
}

.picker::-moz-range-track {
  background: none;
}

.picker::-moz-range-thumb {
  background: none;
  height: 0;
  width: 0;
  border-radius: 0;
  border-bottom: solid .4rem #333;
  border-left: solid .3rem transparent;
  border-right: solid .3rem transparent;
  margin: 3rem 0 0;
}

.picker::-ms-track {
  width: 100%;
  height: 1rem;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.picker::-ms-fill-lower {
  border-radius: 0px;
}

.picker::-ms-fill-upper {
  border-radius: 0px;
}

.picker::-ms-thumb {
  background: #fff;
  width: 3px;
  height: 1rem;
  border: 1px solid rgba(0, 0, 0, .4);
  border-radius: 0px;
}

@import '../tags/header/header';
@import '../tags/phantom/phantom';
@import '../tags/preview/preview';
@import '../tags/hex/hex';
@import '../tags/rgb/rgb';
@import '../tags/hsv/hsv';
@import '../tags/draw/draw';
