.sample {
  height: 1.5rem;
  padding: 0;
  border: solid 1px #ddd;
  border-top: none;
}

.sample::-webkit-color-swatch-wrapper {
  padding: 0;
  border: none;
}

.sample::-webkit-color-swatch {
  border: none;
}

.sample::-moz-color-swatch {
  border: none;
}
