.nav {
  color: #fff;
  width: 100%;
  background: #016cd4;
  margin-bottom: 1rem;
}

.nav-item {
  display: inline-block;
  padding: 1rem;
}

.nav-item:hover {
  background: #2292ff;
}

@media(max-width: 1050px) {
  .nav {
    margin: 0;
  }
}
